[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
html5lib = "*"
google = "*"
spacy = "*"
chardet = "*"
PyPDF2 = "*"
JPype1 = "*"
requests-html = "*"
nest-asyncio = "*"
selenium = "*"
pandas = "*"
pikepdf = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.8"
